@import "tailwindcss";

@custom-variant green (&:where(.green, .green *));
@custom-variant orange (&:where(.orange, .orange *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono-ibm: var(--font-mono-ibm);

  --text-shadow-glow: var(--text-glow);
  --shadow-glow: var(--box-glow);
}

:root {
  --background: #070707;
}

.green {
  --foreground: oklch(0.8 0.25 140);
}

.orange {
  --foreground: oklch(0.78 0.2 55);
}

.green,
.orange {
  --text-glow:
    0 0 0.5px oklch(from var(--foreground) l c h / 0.9), 0 0 2px
    oklch(from var(--foreground) l c h / 0.8), 0 0 5px oklch(from var(--foreground) l c h / 0.35), 0
    0 12px oklch(from var(--foreground) l c h / 0.15);
  --box-glow:
    0 0 2px oklch(from var(--foreground) l c h / 0.9), 0 0 6px
    oklch(from var(--foreground) l c h / 0.45), 0 0 14px oklch(from var(--foreground) l c h / 0.18),
    inset 0 0 4px oklch(from var(--foreground) l c h / 0.25);
  background-color: var(--background);
  color: var(--foreground);
  outline-color: var(--foreground);
  border-color: var(--foreground);
  caret-color: var(--foreground);
  text-shadow: var(--text-shadow);
}

::selection {
  color: var(--background);
  background-color: var(--foreground);
}
